name: Pull Request

on: [pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install pgrx
        run: cargo install cargo-pgrx --version 0.14.0 --locked

      - name: Install Postgres
        run: cargo pgrx init --pg17 download

      - name: Run tests
        run: cargo pgrx test pg17
